@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #45062E;
    --secondary-color: #7F055F;
    --accent1-color: #E5A4CB;
    --accent2-color: #efd4e3;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: 'Fredericka the Great', Helvetica, sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

header {
    display:flex;
    flex-wrap: wrap;
    background-color:var(--primary-color);
    width:100%;
    padding:30px;
}
header img{
    width:100px;
    margin:auto auto;
    border:var(--accent2-color), solid 6px;
}
nav {
    /* margin-top:45px; */
    margin:auto auto;
}
nav a{
    padding:20px;
    font-family:var(--heading-font);
    color:var(--accent1-color);
    text-decoration: none;
    font-weight:bold;
    background-color:var(--secondary-color);
    margin:20px;
    border-radius: 5%;
}
#title{
    font-family:var(--paragraph-font);
    color:var(--accent1-color);
    text-decoration: none;
    font-size:40px;
    margin:auto auto;
}

nav a:hover{
    color:var(--primary-color);
    background-color:var(--accent1-color);
}

#info-section{
    margin:50px;
    display:grid;
    grid-template-columns: 3fr 2fr 1fr 2fr 1fr;
    font-weight:bold;
    gap:5px
}

#new-game{
    grid-column-start: 1;
    color:var(--secondary-color);
    font-family:var(--paragraph-font);
    width:75%;
    margin:0 auto;
    font-weight:bold;
    font-size:20px;
    background-color: var(--accent2-color);
    border:var(--secondary-color) solid 4px;
    border-radius: 5%;
}
#new-game a{
    color:var(--secondary-color);
    text-decoration: none;
}

#health-label{
    grid-column-start: 2;
    color:var(--accent1-color);
    font-family:var(--paragraph-font);
    text-align: right;
    font-size:20px;
}
#health-value{
    grid-column-start: 3;
    color:var(--accent1-color);
    font-family:var(--paragraph-font);
    text-align: left;
    font-size:20px;
}

#score-label{
    grid-column-start: 4;
    color:var(--accent1-color);
    font-family:var(--paragraph-font);
    text-align: right;
    font-size:20px;
}
#score-value{
    grid-column-start: 5;
    color:var(--accent1-color);
    font-family:var(--paragraph-font);
    text-align: left;
    font-size:20px;
}

body{
    margin: 0; /* Remove default margin */
    height: 100vh; /* Ensure the body spans the viewport height */
    background: linear-gradient(to bottom, var(--accent2-color), #ffffff); /* Gradient from top */
    background-repeat: no-repeat; /* Prevents the gradient from repeating */
    background-size: cover; /* Makes the gradient cover the entire body */

}

main{
    width: 100%;
}

#play-area{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgb(255, 255, 255);
    border:5px solid black;
    border-radius: 1%;
    max-width:80%;
    min-height:400px;
    margin:0 auto;
    margin-bottom: 50px;
}

.card{
    width:80px;
    height:100px;
    border:var(--primary-color) 3px solid;
    margin:20px;
}

footer{
    background-color:var(--primary-color);
    width:100%;
    padding:30px;
}

#credit1{
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
}

@media (max-width: 550px) {
    header {
        display:grid;
        grid-template-rows:100px 180px 50px;
        grid-template-columns: 1fr;
    }
    nav {
        display: grid;
        grid-template-rows:40px 40px 40px;
        margin:auto auto;
    }
    nav a{
        padding:5px;
        margin:5px;
    }
    #new-game{
        font-size:10px;
    }
    #new-game a{
        font-size:15px;
    }
    .card{
        width:56px;
        height:70px;
        margin:10px;
    }
    #play-area{
        display:flex;
        align-content: flex-start;
        flex-wrap: wrap;
        max-width:90%;
        min-height:400px;
        margin:0 auto;
        margin-bottom: 50px;
    }
}





